*{
	padding: 0;
	margin: 0;
	font-family: "微软雅黑","苹方";
	font-style: normal;
	font-weight: normal;
}
.ul.li{
		list-style: none;
	}
	a{
		text-decoration: none;
	}
@font-face {
  font-family: 'iconfont';  /* project id 974145 */
  src: url('//at.alicdn.com/t/font_974145_ebi9b3jf4fo.eot');
  src: url('//at.alicdn.com/t/font_974145_ebi9b3jf4fo.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_974145_ebi9b3jf4fo.woff') format('woff'),
  url('//at.alicdn.com/t/font_974145_ebi9b3jf4fo.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_974145_ebi9b3jf4fo.svg#iconfont') format('svg');
}
.iconfont{
	font-family: iconfont;
}
.dibu{
	height: 1.3rem;
	width: 100%;
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0;
}
.dibu1{
	width: 100%;
	height: 0.9rem;
	margin-top: 0.2rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	
}
.shouye{
	width: 1rem;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
}
.dibu1 img{
	width: 0.6rem;
	height: 0.6rem;
	
}

.dibu1-text{
	font-size: 0.3rem;
	color: #ff6700;
	
}
.dibu1-text1{
	font-size: 0.3rem;
	color: #cfcfcf;
	
}
.dibu1-text2{
	font-size: 0.3rem;
	color: #cfcfcf;
	
}
.dibu1-text3{
	font-size: 0.3rem;
	color: #cfcfcf;
	
}