.{
	margin: 0;
	padding: 0;
}
.box{
	height: 100rem;
	max-width: 640px;
	background: #f2f2f2;
	margin: 0 auto;
}
.shoushuo{
	width: 100%;
	height: 1.2rem;
	/* background: blue; */
	display: flex;
	align-items: center;
}
.shoushuo .xiaomi{
	width: 0.78rem;
	height: 0.57rem;
	/* background: #fff; */
    margin-right: 0.4rem;
    margin-left: 0.4rem;
}
.shoushuo .touxiang{
	width: 0.51rem;
	height: 0.6rem;
	/* background: green; */
	margin-left: 0.49rem;
}
.shoushuo .shuru{
	width: 7.77rem;
	height: 0.9rem;
	background: #fff;
	display: flex;
	align-items: center;
}
.touxiang img{
	width: 100%;
	height: 100%;
	display: block;
}
.shoushuo  .xiaomi img{
	width: 100%;
	height: 100%;
	display: block;
}
.shuru img{
	width: 0.7rem;
	height: 0.7rem;
	display: block;
	align-items: center;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
}
.zi{
	font-size: 0.4rem;
	align-items: center;
	color: rgba(0,0,0,0.3);
}
.anniu{
	height: 0.96rem;
	width: 100%;
	display: flex;
	align-items: center;
}
.wenzi{
	width: 9.15rem;
	height: 0.96rem;
	/* background: #000; */
	overflow:hidden;
	margin-left: 0.38rem;
	align-items: center;
}
.wenzi1{
	width: 18.3rem;
	height: 100%;
	font-size: 0.34rem;
	align-items: center;
	line-height: 0.96rem;
}
.wenzi1 i{
	margin-right: 0.7rem;
}
.jiantou{
	width: 0.35rem;
	height: 0.25rem;
	/* background: black; */
	margin-left: 0.6rem;
	display: flex;
}
.jiantou img{
	width: 100%;
	height: 100%;
}
.tu{
	width: 100%;
	height: 5.37rem;
}
.tu img{
	width: 100%;
	height: 100%;
}
.xinpin{
	width: 100%;
	height: 2.3rem;
	display: flex;
	flex-wrap: wrap;
}
.tu1{
	width: 20%;
	height: 1.15rem;
	padding: 0;
	
}
.tu1 img{
	width: 100%;
	height: 100%;
}